@model IEnumerable<SneakerShop.Data.Models.OrderDetail>

@{
    ViewData["Title"] = "OrderList";
}

<h1>OrderList</h1>

<p class="float-right">
    <a asp-action="Create" class="btn btn-outline-primary" >Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
           
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
	        <th>
		        @Html.DisplayNameFor(model => model.Adress)
	        </th>
	        <th>
		        @Html.DisplayNameFor(model => model.SneakerName)
	        </th>
	        <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
	        <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
	        <td>
		        @Html.DisplayFor(modelItem => item.Adress)
	        </td>
	        <td>
		        @Html.DisplayFor(modelItem => item.SneakerName)
	        </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
